streamlit
pandas
numpy
spacy
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-streamlit
click
typer
nltk
matplotlib
requests
seaborn
wordcloud
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.6.0/es_core_news_sm-3.6.0.tar.gz

